---
layout: default
schema: person
---

<div id="about-me" class="section section-intro">
  <div class="container">
    <img src="{{ site.baseurl }}/assets/img/albertoalcolea.jpg" alt="Alberto Alcolea - @albertoalcolea">
    <div id="me">
      <h1>Alberto Alcolea</h1>
      <span id="sub">Developer and Music Lover</span>
      <p>I'm a computer engineer. Passionate about new technologies, software engineering, data processing and the Web. Lover of *NIX systems.</p>
    </div>
  </div>
</div>

<div id="portfolio" class="section section-gray">
  <div class="container">
    <h2>My work</h2>
    <div class="project-list">
      {% for project in site.data.projects %}
        <div class="project">
          <a href="{{ project.link }}" title="{{ project.name }}">
            <figure class="frame">
              <img src="{{ site.baseurl }}/assets/img/projects/{{ project.image }}" alt="{{ project.name }}">
            </figure>
            <h3>{{ project.name }}</h3>
          </a>
          <div class="tags">
            {% for tag in project.tags %}
              <span class="tag">{{ tag }}</span>
            {% endfor %}
          </div>
          <p>{{ project.description | newline_to_br }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
