<meta name="author" content="{{ site.author }}" />

<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}">

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@{{ site.twitter | replace:'@','' }}" />
<meta name="twitter:creator" content="@{{ site.twitter | replace:'@','' }}" />
<meta name="twitter:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />

{% if page.title -%}
<meta property="og:title" content="{{ page.title }}" />
<meta property="twitter:title" content="{{ page.title }}" />
{%- else -%}
<meta property="og:title" content="{{ site.title }}" />
<meta property="twitter:title" content="{{ site.title }}" />
{%- endif %}

{% if page.excerpt -%}
<meta name="description" content="{{ page.excerpt| strip_html | strip }}" />
<meta property="og:description" content="{{ page.excerpt| strip_html | strip }}" />
<meta  property="twitter:description" content="{{ page.excerpt| strip_html | strip }}" />
{%- else -%}
<meta name="description" content="{{ site.description }}">
<meta property="og:description" content="{{ site.description }}" />
<meta  property="twitter:description" content="{{ site.description }}" />
{%- endif %}

{% if page.image -%}
<meta property="og:image" content="{{ site.url }}{{ page.image }}" />
<meta property="og:image:alt" content="{{ page.title }}" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="twitter:image" content="{{ site.url }}{{ page.image }}" />
<meta property="twitter:image:alt" content="{{ page.title }}" />
{%- endif %}

{% if page.date -%}
<meta property="og:type" content="article">
<meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}" />
{%- else -%}
<meta property="og:type" content="website">
{%- endif %}

<link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />

{% if page.robots -%}
<meta name="robots" content="{{ page.robots }}" />
{%- endif %}

{% if page.schema == 'person' -%}
	{%- include schema-person.html -%}
{%- elsif page.schema == 'post' -%}
	{%- include schema-post.html -%}
{%- endif -%}
