<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@graph": [
			{
				"@type": "WebPage",
				"@id": "{{ site.url }}{{ page.url }}#webpage",
				"url": "{{ site.url }}{{ page.url }}",
				"name": "{{ page.title }} | {{ site.title }}",
				"datePublished": "{{ page.date | date_to_xmlschema }}",
				"isPartOf": {
					"@type": "WebSite",
					"@id": "{{ site.url }}/#website",
					"url": "{{ site.url }}",
					"name": "{{ site.title }}"
				},
				"inLanguage": "{{ site.language }}"
			},
			{
				"@type": "Person",
				"@id": "{{ site.url }}/#person",
				"name": "{{ site.author }}",
				"sameAs": [
					"{{ site.url }}"
				]
			},
			{% if page.image -%}
			{
				"@type": "ImageObject",
				"@id": "{{ site.url }}{{ page.image }}",
				"url": "{{ site.url }}{{ page.image }}",
				"caption": "{{ page.title }}",
				"inLanguage": "{{ site.language }}"
			},
			{%- endif %}
			{
				"@type": "Article",
				"@id": "{{ site.url }}{{ page.url }}#post",
				"name": "{{ page.title }} | {{ site.title }}",
				"description": "{{ page.excerpt | strip_html | strip_newlines }}",
				"headline": "{{ page.title }} | {{ site.title }}",
				{% if page.keywords -%}
				"keywords": "{{ page.keywords }}",
				{%- endif -%}
				"datePublished": "{{ page.date | date_to_xmlschema }}",
				"author": {
					"@id": "{{ site.url }}/#person"
				},
				"publisher": {
					"@id": "{{ site.url }}/#person"
				},
				"isPartOf": {
					"@id": "{{ site.url }}{{ page.url }}#webpage"
				},
				"mainEntityOfPage": {
					"@id": "{{ site.url }}{{ page.url }}#webpage"
				},
				{% if page.image -%}
				"image": {
					"@id": "{{ site.url }}{{ page.image }}"
				},
				{%- endif %}
				"inLanguage": "{{ site.language }}"
			}
		]
	}
</script>
