
//
// VARIABLES
//

// Constants
$max-width: 1100px;
$header-height: 40px;
$header-z-index: 1030;
$greeting-z-index: 1020;
$mobile-width: 700px;
$tablet-width: 1000px;

// Fonts
$sans-serif-font: 'Montserrat', sans-serif;
$serif-font: 'Lora', serif;
$monospaced-font: monospace;

// Colors
$white: #ffffff;
$lighter-gray: #F7F7F7;
$light-gray: #E0E0E0;
$mid-light-gray: #BFBFBF;
$mid-gray: #909090;
$dark-gray: #464646;
$darker-gray: #343434;
$black: #222222;
$blue: #2B77CB;
$red: #BA443A;
$darker-red: #BA2114;
$light-yellow: #fffee9;
