---
---

// Styles for browsers that do not support JavaScript

@import "variables";
@import "mixings";

header {
  @include box-shadow(0px, 4px, 0px, 0px, rgba(0,0,0,0.08));

  @include mobile {
    position: static;
    height: auto;
  }
}

.navbar-menu {
  @include mobile {
    visibility: visible;
    max-height: none;
    display: block;
  }
}

.toggle-menu {
  @include mobile {
    display: none;
  }
}

.page-content {
  @include mobile {
    margin-top: 0;
  }
}

#contact-form {
  display: none;
}