---
layout: default
---

<div class="section blog">
	<div class="container">
		<article class="post">
			<h1 class="title">{{ page.title }}</h1>

			{% if page.image %}
				<img class="header-image" src="{{ site.baseurl }}{{ page.image }}" alt="{{ page.title }}" />
			{% endif %}

			<div class="entry">
				{{ content }}
			</div>

			<div class="date">
				Written on {{ page.date | date: "%B %e, %Y" }}
			</div>

			<hr>

			{% if site.sharethis %}
			<div class="social-share">
				{% include sharethis.html %}
			</div>
			{% endif %}

			{% if site.related_posts != empty %}
			<div class="related">
				<span class="related-title">Related posts</span>
				<ul>
					{% for post in site.related_posts limit:5 %}
						<li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
					{% endfor %}
				</ul>
			</div>
			{% endif %}

			{% if site.disqus %}
			<div class="comments">
				{% include disqus.html %}
			</div>
			{% endif %%}
		</article>
	</div>
</div>
